.Form {
  width: 100%;
  margin-bottom: 20px;
  border: 3px solid olivedrab;
  padding: 15px;
}

.Form h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

label,
input,
select {
  flex-basis: 50%;
  margin-bottom: 22px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
